# Note: do not comment an entry on the SAME line, as it smetimes makes git bug !

#################################################
# General folders (anywhere in the tree)
#################################################
.ipynb_checkpoints
__pycache__

##################################################
# Root folders (just at the root of the project)
##################################################
# Binary paths are system-dependent : (Please follow bin_template instead)
bin/*
log/*
data/*
tmp/*

#################################################
# Specific file to ignore :
#################################################
 # Any output of a nohup command :
nohup.out
# local configuration file :
local.json 
# File created by Visual Studio Code (an IDE) :
.vscode 

#################################################
# Extensions to ignore :
#################################################
*.log
# .swp files created by VIM while editing and not saving :
*.swp 
*.csv
*.dat
*.data
*.snappy
*.gz
*.parquet
*.orc
# Pickle file (Python serializer) :
*.pkl 
