# General folders (anywhere in the tree)
.ipynb_checkpoints
__pycache__

# Root folders (just at the root of the project)
bin/* . # Binary paths are system-dependent. Please follow bin_template instead
log/*
data/*
tmp/*

# File to ignore :
nohup.out # Any output of a nohup command.
local.json # local configuration file
.vscode # File created by Visual Studio Code (an IDE)

# Extensions to ignore :
*.log
*.swp # .swp files created by VIM while editing and not saving
*.csv
*.dat
*.data
*.snappy
*.gz
*.parquet
*.orc
*.pkl # Pickle file (Python serializer)
